language: go

go:
  - "1.12.x"
  - "1.13.x"
  - "1.14.x"

sudo: required

go_import_path: github.com/XiaoMi/soar

dist: xenial


before_install:
  - sudo add-apt-repository ppa:duggan/bats --yes
  - sudo apt-get update -qq
  - sudo apt-get install -qq bats

script:
  - make
  - make release